.background{
    width: 100%;
    height: 100%;
}
.btn-close{
    position: relative;
    left: 70%;
    top: 1.5vh;
}

form{
    background-color: var(--white);
    margin: 2vh auto 1vh auto;
    width: 40%;
    border-radius: 10px;
    
    transition: 0.4s;
}

.buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button{
    width: 50%;
    border-radius: 0px;
}

.exit{
    position: relative;
    top: -25vh;
    left: 92%;
    font-size: 50px;
    font-weight: 600;
    cursor: pointer;
}

.images{
    width: 55%;
    margin: 15%;
    margin-left: 23%;
    margin-top: 3vh;
}

.form-group{
    padding-bottom: 2vh;
    width: 92%;
}

.form-control{
    padding-left: 0;
    margin-left: 0%;
    margin-bottom: 1vh;
}

#input_text_1{
    margin-left: 3.5%;
}

input{
    width: 98%;
}

.radio{
    padding: 0;
    margin: 0;
    width: 20%;
}

.container{
    display: grid;
    width: 100%;
    grid-template-columns: 30% 30% 30% 30%;
    gap: 10%;
    margin-left: -20%;
}

.col{
    padding-right: 20%;
}

.btn-close{
    position: relative;
    left: 95%;
    bottom: 5vh;
}